<div class="curations">
    <h2>Handcrafted Curations</h2>
    <div class="curations-items">
        <div class="curation-item">
            <img src="https://www.starbucks.in/assets/icon/Bestseller.webp" alt="Bestseller">
            <p>Bestseller</p>
        </div>
        <div class="curation-item">
            <img src="https://www.starbucks.in/assets/icon/Drinks.webp" alt="Drinks">
            <p>Drinks</p>
        </div>
        <div class="curation-item">
            <img src="https://www.starbucks.in/assets/icon/Food.webp" alt="Food">
            <p>Food</p>
        </div>
        <div class="curation-item">
            <img src="https://www.starbucks.in/assets/icon/Merchandise.webp" alt="Merchandise">
            <p>Merchandise</p>
        </div>
        <div class="curation-item">
            <img src="https://www.starbucks.in/assets/icon/CoffeeAtHome.webp" alt="Coffee At Home">
            <p>Coffee At Home</p>
        </div>
        <div class="curation-item">
            <img src="https://www.starbucks.in/assets/icon/ReadyToEat.webp" alt="Ready to Eat">
            <p>Ready to Eat</p>
        </div>
    </div>
</div>


<div class="banner">
    <div class="banner-content">
        <div class="banner-left">
            <h2>Starbucks</h2>
            <h3>Beverage Subscription</h3>
            <p>Starbucks Subscription is Back! Sip Your Favourites for Less. Tap for Details. T&C Apply.</p>
        </div>
        <div class="banner-right">
            <button>Know More</button>
        </div>
    </div>
</div>