<div class="profile-container">
    <div class="profile-header">
        <img src="https://stories.starbucks.com/_next/image/?url=https%3A%2F%2Fstories.starbucks.com%2Fuploads%2F2022%2F04%2FHoward_Schultz-Headshotjpg-1024x1024.jpg&w=384&q=75" alt="founder" class="profile-image">
        <div class="profile-info">
            <h1>Howard Schultz</h1>
            <h3>founder and chairman emeritus</h3>
        </div>
    </div>
    <p>Howard Schultz is a transformative leader who built Starbucks over four decades into one of the world’s most recognized and respected businesses, a company committed to strengthening communities through human connection and innovation.</p>

    <p>Howard’s journey with Starbucks began in 1981, when he first walked the doors of the whole-bean shop in Seattle’s Pike Place. There, he tasted his first sip of Sumatra and was invited into conversation with connoisseurs who took great care in not only finding and roasting the finest quality coffee, but also sharing their passion with others. In 1982, when Starbucks had only four stores, Howard moved to Seattle from his native New York and joined the company as director of operations and marketing.</p>
</div>
